h1 {
  text-align: center;
}
.allTweets {
  border: 1px solid gray;
  width: 600px;
  margin: 0 auto;
}

.TweetImg {
  border-radius: 20px;
  cursor: pointer;
  width: 90%;
  margin: 0 auto 6% auto;
}

.TweetContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.AvatarImg {
  width: 30px;
  height: 30px;
  margin: 4% 0 0 5%;
  border: 1px solid black;
  border-radius: 50px;
}

.AvatarImg:hover {
  opacity: 80%;
  color: #fff;
  cursor: pointer;
  background-color: black;
  border: 1px solid gray;
}

.UpperCase {
  margin-top: 6px;
}

.Name,
.UserTag {
  margin: 5% 2%;
}

.Name {
  font-weight: 700;
}

.Name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 4% auto;
}

.Back {
  position: absolute;
  background-color: #fff;
  border: none;
  top: 100px;
  left: 70%;
}
.Back:hover {
  background-color: rgb(193, 193, 193);
  border-radius: 20px;
  cursor: pointer;
}
.popUp {
  margin: 4% 0 0 45%;
  font-size: 20px;
  font-weight: 700;
}

.tweetButton {
  background-color: #fff;
  border: none;
  font-size: 14px;
}

.heartLike:hover,
.shareMd:hover,
.tweetFa:hover,
.BiMessage:hover {
  cursor: pointer;

}

.heartLike:hover {
  color: red;
}

.tweetFa:hover {
  color: green;
}
.shareMd:hover,
.BiMessage:hover {
  color: blue;
}